.header{
  display: flex;
  justify-content: space-between;
  .basket{
    display: block;
    span{
      font-size: 12px;
    }
  }
}
.header__logo {
  display: inline-block;
  .logo {
    width: 150px;
  }
}
.auth-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: space-between;
}
.button-wrap{
  display: flex;

}
.sign-in{
  margin-right: 20px;
  .user-info {
    text-align: center;
  }
  p{
    margin: 5px;
  }
}
.nav{
  display: flex;
  align-items: center;
}
