<!--<app-filter class="filter-wrap" (filterValue)="setFilterData($event)"></app-filter>-->
<app-filter class="filter-wrap"></app-filter>
<!--<div class="search-block">-->
<!--<h3>Search:</h3>-->
<!--<input class="form-control" type="text" name="term" [(ngModel)]="term">-->
<!--</div>-->
<div class="products-wrap">
    <div class="product-list">
        <div class="row">
            <div class="product-item  col-12 col-md-6 col-lg-4"
                 *ngFor="let product of productsList | price:filterData.min:filterData.max | color:filterData.color |
                        feature:filterData.feature | paginate: { itemsPerPage: viewProducts, currentPage: page }">
                <mat-card class="card text-sm-center text-md-left">
                    <div (click)="showProductDescription(product)">
                        <div class="img-block text-center">
                            <img src="{{product.url}}">
                        </div>
                        <h5 class="desc"><span class="field">Brand name: </span>{{product.brande | uppercase}}</h5>
                        <h6 class="desc"><span class="field">Model Name: </span>{{product.modelName}}</h6>
                        <h6 class="desc"><span class="field">Price: </span>{{product.price}}</h6>
                        <h6 class="desc"><span class="field">Discount: </span><span class="red-text">{{product.discount}}%</span>
                        </h6>
                    </div>
                    <button mat-raised-button type="button"
                            class="buy"
                            (click)="addToCart(product)"
                    >BUY
                    </button>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<pagination-controls (pageChange)="page = $event" *ngIf="productsList.length > viewProducts"></pagination-controls>
