<div class="container product-list"><h2>Hello, Admin!</h2>
        <app-filter class="filter-wrap"></app-filter>
    <div class="button-line">
        <button class="add-btn"
                mat-raised-button
                (click)="addToServer()">Add new
        </button>
        <button class="order-btn"
                mat-raised-button
                [disabled]="!order"
                (click)="goToOrderList()">Look orders
        </button>
    </div>
    <div class="goods-list">
        <mat-card class="goods-item clearfix"
                  *ngFor="let product of productsList |
                   price:filterData.min:filterData.max |
                    color:filterData.color |
                        feature:filterData.feature | paginate: { itemsPerPage: 6, currentPage: page }"
                  (click)="modifyProduct(product.id)"
        >
            <div class="img-wrap">
                <img [src]="product.url.length ? product.url : imageUrl" alt="car">
            </div>
            <div class="desc">
                <ul class="desc-list">
                    <li class="desc-item">
                        <p><span>Brand:</span> {{ product.brande }}</p>
                    </li>
                    <li class="desc-item">
                        <p><span>Model name:</span> {{ product.modelName }}</p>
                    </li>
                    <li class="desc-item">
                        <p><span>Color:</span> {{ product.color }}</p>
                    </li>
                    <li class="desc-item">
                        <p><span>Power:</span> {{ product.power }}</p>
                    </li>
                </ul>
                <ul class="desc-list">
                    <li class="desc-item">
                        <p><span>Special Feature:</span> {{ product.feature }}</p>
                    </li>
                    <li class="desc-item">
                        <p><span>Description:</span> {{ product.desc }}</p>
                    </li>
                    <li class="desc-item">
                        <p><span>Price:</span> {{ product.price }}</p>
                    </li>
                    <li class="desc-item">
                        <p><span>Discount:</span> {{ product.discount }}</p>
                    </li>
                </ul>
            </div>
        </mat-card>
    </div>
</div>
<pagination-controls (pageChange)="page = $event" ></pagination-controls>