
mat-card{
  background-image: url("https://static8.depositphotos.com/1280399/967/i/950/depositphotos_9675708-stock-photo-white-leather-texture-or-background.jpg");
  background-repeat: repeat;
}
.add {
  margin-bottom: 30px;
  .add-btn {
    color: #fff;
    background-color: #29a038;
  }
}
.order-btn{
  margin-left: 20px;
  color: #fff;
  background-color: #045e76;
}