<h2 mat-dialog-title class="text-center">Registration</h2>
<p class="text-center">You should register to have opportunity buy online</p>
<div class="form-wrap">
    <form [formGroup]="signUp">
        <mat-form-field>
            <input matInput formControlName="name" placeholder="Your name">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="email" placeholder="Your email">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" formControlName="password" placeholder="Your password">
        </mat-form-field>
        <button mat-raised-button (click)="onSignUp()">Sign Up</button>
    </form>
</div>