li {
  display: inline-block;
  a {
    position: relative;
      border-bottom: 2px solid transparent;
    text-decoration: none;
    &.active {
      color: #35519b;
      border-color: #35519b;
    }
    &:hover {
      color: #35519b;
    }
  }
}

ul {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0;
  padding: 0;
}
