h1{
  margin: 30px 0;
}
.btn-line{
  margin-top: 20px;
  button{
    background-color: #ff372a;
    color: white;
  }
}
.mat-form-field{
  display: block;
}
.order-register{
  width: 400px;
  padding: 10px;
}
.shopping-list {
  mat-card.product-item {
    background-image: url("https://static8.depositphotos.com/1280399/967/i/950/depositphotos_9675708-stock-photo-white-leather-texture-or-background.jpg");
    background-repeat: repeat;
  }
}

