.clear{
  margin-right: 15px;
  background-color: #ff4a2d;
  color: #fff;
}
.save{
  background-color: #35519b;
  color: #fff;
}
.add{
  background-color: forestgreen;
  color: #fff;
}
.delete{
  background-color: gray;
  color: #fff;
  margin-left: 15px;
}
