.basket {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 150px;
  padding-top: 10px;
  .info-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span{
      color: #e9ecef;
      font-size: 15px;
    }
    .result {
      color: #000;
      font-weight: bold;
    }
  }
  .icon{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    a{
      display: inline-block;
    }
    i{
      font-size: 31px;
      color: #e9ecef;
      &:hover{
        opacity: .6;
      }
    }
  }
}
