<mat-card class="filter-wrap">
    <form [formGroup]="filterForm"
          class="flex-column flex-md-row align-items-center align-items-md-start">
        <div class="price-block">
            <p class="upper bold">Choose price:</p>
            <mat-form-field class="field-wrap flex-column">
                <input matInput
                       formControlName="min"
                       type="number"
                       id="min-price"
                       placeholder="Min: {{staticMin}}"
                       value="{{minPrice}}"
                >
            </mat-form-field>
            <mat-form-field class="field-wrap flex-column">
                <input matInput
                       formControlName="max"
                       type="number"
                       id="max-price"
                       placeholder="Max: {{staticMax}}"
                       value="{{maxPrice}}">
            </mat-form-field>
        </div>
        <mat-radio-group formControlName="color" class="color-block">
            <p class="upper bold">Color: </p>
            <mat-radio-button value="red">Red</mat-radio-button>
            <mat-radio-button value="black">Black</mat-radio-button>
            <mat-radio-button value="white">White</mat-radio-button>
            <mat-radio-button value="all">All</mat-radio-button>
        </mat-radio-group>
        <div class="feature-block">
            <label for="feature" class="upper bold"><p>Super feature: </p></label>
            <mat-select formControlName="feature"
                    id="feature">
                <mat-option value="all">All</mat-option>
                <mat-option value="speed">Speed</mat-option>
                <mat-option value="Glamour">Glamour</mat-option>
                <mat-option value="Cabriolet">Cabriolet</mat-option>
                <mat-option value="Big">Big</mat-option>
                <mat-option value="Fancy">Fancy</mat-option>
                <mat-option value="Safety">Safety</mat-option>
                <mat-option value="Respect">Respect</mat-option>
            </mat-select>
        </div>
    </form>
</mat-card>