<mat-card  class="filter-wrap">
    <form [formGroup]="filterForm"
          class="flex-column flex-md-row align-items-center align-items-md-start">
        <div class="price-block">
            <p class="upper bold">Choose price:</p>
            <div class="field-wrap flex-column">
            <label for="min-price" class="gray"><span class="gray">Min: {{staticMin}}</span></label>
            <input formControlName="min"
                   type="number"
                   id="min-price"
                   value="{{minPrice}}"
                   >
            </div>
            <div class="field-wrap flex-column">
            <label for="max-price" class="gray"><span class="gray">Max: {{staticMax}} </span></label>
            <input formControlName="max"
                   type="number"
                   id="max-price"
                   value="{{maxPrice}}">
            </div>
        </div>
        <div class="color-block">
            <p class="upper bold">Color: </p>
            <div class="field-wrap">
            <label for="red"
                   class="color-circle"
                   [ngStyle]="{'color': 'red'}"
            >Red: </label>
            <input formControlName="color"
                   type="radio"
                   name="color"
                   value="red"
                   id="red">
            </div>
            <div class="field-wrap">
            <label for="black" class="color-circle">Black: </label>
            <input formControlName="color"
                   type="radio"
                   name="color"
                   value="black"
                   id="black">
            </div>
            <div class="field-wrap">
            <label for="white"
                   class="color-circle"
                   [ngStyle]="{'color': 'white', 'backgroundColor': 'black'}"
            >White: </label>
            <input formControlName="color"
                   type="radio"
                   name="color"
                   value="white"
                   id="white">
            </div>
            <div class="field-wrap">
            <label for="all"
                   class="color-circle"
            >All: </label>
            <input formControlName="color"
                   type="radio"
                   name="color"
                   value="all"
                   id="all">
            </div>
        </div>
        <div class="feature-block">
            <label for="feature" class="upper bold"><p>Super feature: </p></label>
            <select formControlName="feature"
                    id="feature">
                <option value="all">All</option>
                <option value="speed">Speed</option>
                <option value="Glamour">Glamour</option>
                <option value="Cabriolet">Cabriolet</option>
                <option value="Big">Big</option>
                <option value="Fancy">Fancy</option>
                <option value="Safety">Safety</option>
                <option value="Respect">Respect</option>
            </select>
        </div>
    </form>
</mat-card >