form{
  display: flex;
  justify-content: space-between;
  p{
    margin-bottom: 0;
  }
}
mat-card{
  background-image: url("https://static8.depositphotos.com/1280399/967/i/950/depositphotos_9675708-stock-photo-white-leather-texture-or-background.jpg");
  background-repeat: repeat;
}
.field-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;

  label{
    margin-right: 15px;
    margin-bottom: 0;
  }
  input{
    max-width: 300px;
  }
}
.color-block{
  width: 120px;
}
.viewGroup{
  flex-grow: 2;
  display: flex;
  justify-content: space-around;
  margin: 0 80px;
}
.feature-block{
  width: 250px;
  border-bottom: 1px solid #eeeeee;
}