/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
 // background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRx5PaB2fb6Tmk1znjfHKqALWvCBujX6B45ePHWnaji66ONpyMJ");
  background-image: url("https://img1.goodfon.ru/original/1920x1920/8/a6/samsung-galaxy-s5-stock-4589.jpg");
  background-repeat: repeat;
}
html{
  height: 100%;
}

a {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.mat-form-field.block {
  display: block;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.error-text{
  color: #ff0027;
}
.red-text{
  color: #c61012;
}
.success-text{
  color: greenyellow;
}

.bold{
  font-weight: 600;
}

.gray{
  color: #8a8a8a;
}
pagination-template .ngx-pagination .current{
  background-color: #58bdb9;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.goods-item,
.product-item{
  margin-bottom: 20px;
  cursor: pointer;

  ul {
    display: inline-block;
    width: 250px;
    padding-left: 0;
  }

  li {
    list-style: none;
    margin: 0 10px 10px 10px;
    p {
      margin: 0;
    }
    span {
      color: #35519b;
    }
  }

  .img-wrap {
    float: left;
    width: 300px;
    margin-right: 20px;
    img {
      width: 100%;
    }
  }
}




